name: CI - Tests

on:
  pull_request:
  push:
    branches:
      - master
      - 'push-action/**'  # Allow pushing to protected branches (using CasperWA/push-protected)

jobs:
  basic-tests:
    name: External
    uses: SINTEF/ci-cd/.github/workflows/ci_tests.yml@v2.9.2
    with:
      # General setup
      install_extras: "[dev]"

      # pre-commit
      run_pre-commit: false

      # pylint & safety
      run_pylint: false
      run_safety: false

      # Build dist
      python_version_package: "3.10"
      build_libs: flit
      build_cmd: flit build

      # Build documentation
      run_build_docs: false

  pip-audit:
    name: pip-audit
    runs-on: ubuntu-latest

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6

      - name: Setup Python 3.10
        uses: actions/setup-python@v6
        with:
          python-version: "3.10"

      - name: Install pip-audit
        run: |
          python -m pip install -U pip
          pip install -U setuptools wheel
          pip install -U -r .github/utils/requirements_audit.txt

      - name: Prepare for pip-audit
        run: pip-compile --output-file="${{ runner.temp }}/requirements.txt" --all-extras --allow-unsafe --verbose --color "${{ github.workspace }}/pyproject.toml"

      - name: Run pip-audit
        uses: pypa/gh-action-pip-audit@v1.1.0
        with:
          inputs: '${{ runner.temp }}/requirements.txt'
