name: Tests

on:
  pull_request:
  push:
    branches: [ master ]

  workflow_dispatch:

# Only run a single complete workflow for a single branch at a time.
# Cancel in-progress runs of the same workflow for the same branch.
# This is useful for pull requests, where the branch may be updated multiple times
# and we want to avoid running multiple workflows for the same branch.
concurrency:
  group: 'ci-tests-${{ github.ref }}'
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  pytest:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        python-version: ['3.10', '3.11', '3.12', '3.13', '3.14']

    steps:
      - name: Checkout ${{ github.repository }}
        uses: actions/checkout@v6

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v6
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -U setuptools wheel
          pip install -U -e .[testing]

      - name: Run tests
        run: pytest -vv --color=yes --cov-report=

